.navbar {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff00;
    border-bottom: 1px solid #ccc;
    color:white;
    border-radius: 30px;
    border-color: #ffffff00;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 20px;   
    font-size: 25px;
    color:white;
}

.logo {
    height: 80px;
    
}

.navbar-links {
   margin-right: 600px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 20px;
    border-radius: 30px;
    border:2px solid white;
    list-style: none;
    background-color: rgba(128, 128, 128, 0.268);
}

.navbar-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    font-weight: bold;
}
.navbar-links a:hover{
    background-color: rgba(0, 0, 0, 0.301);
   padding: 10px 10px;
   border-radius: 30px;
}
.navbar-buttons {
    display: flex;
    gap: 10px;
}
